<!doctype html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<title>Website Homepage Design with html and css</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profiles.css') }}">
</head>
<body>
	<header>
	</div>
	<u1 class="nav-area">
		<li><a href="{{ url_for('login') }}">Home</a></li>
		<li><a href="{{ url_for('about_Us') }}">About</a></li>
		<li><a href="{{ url_for('services_page') }}">Services</a></li>
		<li><a href="{{ url_for('contact_page') }}">Contact</a></li>
	</u1>
		<div class ="welcome-text">
			<h1>Mingle?</h1>
            <b>
                <img src="/static/profile.png" alt="profile.png" width="256" height="256">
                {% for text in content %}

               <h4><b style="color:white;">Name: {{ text[0] }}</b></h4>
               <p style="color:white;">Campuus: {{ text[1]}}</p>
               <p style="color:white;">Residence Hall: {{ text[2] }}</p>
               <p style="color:white;">Age: {{ text[3] }}</p>
               <p style="color:white;">Identifies As: {{ text[4] }}</p>
               <p style="color:white;">Year: {{ text[5] }}</p>
               <p style="color:white;">Sexual Orientation: {{ text[6] }}</p>
               <p style="color:white;">Major: {{ text[7] }}</p>
               <p style="color:white;">Biography: {{ text[8] }}</p>
               <br>
               <form action= "{{ url_for('profile_page') }}" method="post">
                Mingle or Pass?:
                <button name="action" type="submit" value="mingle">Mingle!</button>
                <button name="action" type="submit" value="pass">Pass!</button>
                </form> 
                </div>
               </div>
               {% endfor %}

            </b> 

		</div>
	</header>
</body>
</html>